<html>
  <head>
    <style>
      body {
        background: <%= background %>;
      }
    </style>
  </head>
  <body>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <p><%= message %></p>
    <p>Secret Number:<%= number %></p>
    <p>Guesses remaining:<%= guesses %></p>
  </body>
</html>
